:root {
  --blue: #327aff;
  --light-blue: #3896ff;
  --white: #f7f9fa;
  --grey: #ebebeb;
  --dark-grey: #b9b9b9;
  --black: #1a1f36;
}

* {
    font-family: "Cuprum", sans-serif;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.wrapper__auth {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.background__lcircle {
  position: absolute;
  width: min(70vw, 70vh);
  height: min(70vw, 70vh);
  right: 50vw;
  top: -25vh;
  border-radius: 100%;
  background-color: var(--light-blue);
  z-index: -1;
}

.background__scircle {
  position: absolute;
  width: min(30vw, 30vh);
  height: min(30vh, 30vw);
  left: 80vw;
  border-radius: 100%;
  background-color: var(--light-blue);
  z-index: -1;
}

.background__mcircle {
  position: absolute;
  width: min(50vw, 50vh);
  height: min(50vh, 50vw);
  top: 80vh;
  border-radius: 100%;
  background-color: var(--light-blue);
  z-index: -1;
}

.auth-form {
  margin: 0px auto;
  width: 100%;
  max-width: 448px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 19px 6px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
  padding: 48px;
  z-index: 2;
}

#InfoIcon {
    align-self: center;
    margin: -20px 0 20px;
    font-size: 25px;
    color: var(--blue);
    cursor: pointer;
}

.auth-form__title {
  display: block;
  font-size: 30px;
  line-height: 28px;
  color: #1a1f36;
  padding-bottom: 30px;
}

.auth-form__label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.auth-form__input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  min-height: 24px;
  border: unset;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px;
  margin: 0px 0px 20px;
}

.auth-form__button {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  transition: transform 80ms;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
    rgb(84, 105, 212) 0px 0px 0px 1px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  margin: 0px 0px 15px;
}

.auth-form__button:active {
  transform: scale(0.95);
}

.auth-form__link_container {
  display: flex;
  justify-content: space-between;
}

.auth-form__link {
  text-decoration: none;
  color: var(--black);
  position: relative;
}

.auth-form__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
    background: var(--black);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.auth-form__link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
    background: var(--blue);
}

.auth-form__error {
  color: darkred;
  font-size: 14px;
  margin: -15px 0 12px 0;
}

.wrapper__chat {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 330px auto;
  grid-template-rows: 90px auto;
  grid-template-areas:
    "left-menu header"
    "left-menu content";
}

.wrapper__chat_mobile {
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "content";
}

.menu__toggle_inactive {
  position: absolute;
  cursor: pointer;
  font-size: 5vh;
  color: var(--blue);
  top: 45vh;
  right: 0vw;
}

.menu__toggle_active {
  position: absolute;
  cursor: pointer;
  color: var(--blue);
  font-size: 5vh;
  top: 45vh;
  left: 0vw;
}

.header {
  background-color: var(--white);
  grid-area: header;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__container {
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__name {
  font-size: 25px;
    line-height: 30px;
    padding: 20px 0 0;
}

@media (min-width: 800px) {
    .header__name {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.5px;
        padding: 20px 0 0;
    }
}

.header__icons_container {
  display: flex;
  justify-content: flex-end;
  max-width: 180px;
}

.header__icon_container {
  background-color: var(--blue);
  border-radius: 100px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 100ms;
  margin-right: 20px;
}

.header__icon_container:active {
  transform: scale(0.9);
}

.header__icon {
  color: var(--white);
  font-size: 20px;
}

.header__avatar {
  border-radius: 100%;
  object-fit: cover;
  width: 75px;
  height: 75px;
  margin: 0 10px 0 20px;
}

.left-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue);
  grid-area: left-menu;
  border-radius: 0 7px 7px 0;
  overflow: hidden;
}

.left-menu_inactive {
  display: none;
}

.left-menu_active {
  position: absolute;
  width: min(90vw, 325px);
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
}

.left-menu__header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  color: var(--white);
  font-size: 30px;
  letter-spacing: 1px;
  width: 290px;
  flex-shrink: 0;
}

.left-menu__title {
  font-weight: bold;
  letter-spacing: 2px;
}

.left-menu__settings {
  font-size: 25px;
  cursor: pointer;
}

.left-menu__tab_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  color: var(--white);
  width: 290px;
  height: 60px;
  flex-shrink: 0;
}

.left-menu__tab {
  opacity: 0.4;
  cursor: pointer;
  transition: 250ms;
}

.left-menu__tab_active {
  opacity: 1;
}

.left-menu__search_input {
  width: 290px;
  background-color: var(--light-blue);
  border: none;
  border-radius: 5px;
  height: 35px;
  font-size: 20px;
  color: var(--white);
  flex-shrink: 0;
  padding: 8px 16px;
}

.left-menu__search_input:focus {
  outline: none;
}

.left-menu__search_input::placeholder {
  color: var(--white);
}

.left-menu__dialogues_container {
  display: flex;
  flex-direction: column;
  width: 100%;
    overflow-y: scroll;
    padding-right: 20px;
    margin-left: 20px;
    box-sizing: content-box;
}

.left-menu__dialogues_no_data_message {
  margin: auto;
  color: var(--white);
  font-size: 20px;
}

.left-menu__dialogue_container {
  display: grid;
  grid-template-columns: 5px 15px 1fr auto 20px;
  grid-template-rows: 10px auto auto 10px;
  grid-template-areas:
    ". . . . ."
    ". rating client topic ."
    ". rating last_message last_message ."
    ". . . . .";
  color: var(--white);
  height: 60px;
  cursor: pointer;
  font-weight: bolder;
  transition: 250ms;
  font-size: 13px;
  letter-spacing: 0.5px;
  width: 327px;
}

.left-menu__dialogue_container_active {
  background-color: var(--light-blue);
}

.left-menu__dialogue_client {
  grid-area: client;
  letter-spacing: 1px;
  font-size: 18px;
}

.left-menu__dialogue_topic {
  grid-area: topic;
}

.left-menu__dialogue_last_message {
  grid-area: last_message;
}

.left-menu__rating {
  display: flex;
  flex-direction: column-reverse;
  grid-area: rating;
}

.left-menu__rating_star {
  font-size: 8px;
  color: yellow;
}

.content {
  grid-area: content;
  background-color: var(--white);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
}

.content__image {
  max-width: 100%;
  max-height: 30vh;
}

.content__messages_container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content__message_container {
  display: flex;
  flex-direction: column;
  margin: 0 30px 10px;
}

.content__client_message_wrapper {
  background-color: var(--grey);
  max-width: 55%;
  border-radius: 10px 10px 10px 0;
  padding: 20px;
  align-self: flex-start;
}

.content__operator_message_wrapper {
  background-color: var(--blue);
  color: var(--white);
  max-width: 55%;
  border-radius: 10px 10px 0 10px;
  padding: 20px;
  align-self: flex-end;
}

.content__client_time {
  font-size: 11px;
  align-self: flex-start;
}

.content__operator_time {
  font-size: 11px;
  align-self: flex-end;
}

.content__input_container {
  display: flex;
  align-items: center;
  background-color: var(--grey);
  min-height: 60px;
  z-index: 1;
}

.content__input {
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  background-color: var(--grey);
  margin-left: 10px;
}

.content__icon {
  color: var(--dark-grey);
  font-size: 17px;
  cursor: pointer;
}

.content__icon_container {
  background-color: var(--blue);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 100ms;
}

.content__icon_send {
  color: var(--white);
  font-size: 17px;
}

.content__icons_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
}

.content__autocomplete {
    position: relative;
    width: 100%;
    bottom: -17px;
}

.content__autocomplete_list {
  background-color: var(--grey);
  padding: 0;
  list-style: none;
  position: relative;
  cursor: pointer;
}

.content__finishMessage {
  margin: 0 auto;
}

.content__typing {
  border-radius: 100px;
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin: 10px 0px 10px 30px;
}

.content__typing_dot {
  background-color: var(--dark-grey);
  border-radius: 100px;
  width: 7px;
  height: 7px;
}

.modal__overlay_m {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: var(--grey);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_m {
  background-color: var(--white);
  max-width: 448px;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(60, 66, 87, 0.12) 0 14px 14px 0,
    rgba(0, 0, 0, 0.12) 0 6px 6px 0;
  border-radius: 20px;
    overflow: hidden;
}

.modal__image {
  margin: 20px 0;
}

.modal__image_wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 20px;
}

.hide {
  display: none;
}

.settings__card_wrapper {
  width: 90%;
  padding: 20px 0 0;
  border-radius: 20px;
}

.settings__card {
  width: 100%;
  background: var(--white);
  display: flex;
  flex-direction: column;
  height: 480px;
  overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 30px 0 7px;
    box-sizing: content-box;
}


.settings__header {
  display: flex;
  width: 100%;
  background-color: var(--grey);
}

.settings__tab {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--blue);
  color: var(--white);
  padding: 10px 0;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
  font-weight: 600;
  transition: 250ms;
}

.settings__tab_active {
  background-color: var(--white);
  color: var(--black);
}

.settings__input {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0 8px 16px ;
  min-height: 20px;
  border: unset;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(60, 66, 87, 0.16) 0 0 0 1px;
  margin: 0 0 20px;
}

.settings__input_container {
    width:96.5%;
}

.settings__label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.settings__avatar {
  border-radius: 100%;
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin: 0 auto 50px;
}

.settings__title {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 15px;
}

.settings__items {
}

.settings__item {
  display: flex;
}

.settings__button {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  transition: transform 80ms;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
    rgb(84, 105, 212) 0px 0px 0px 1px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  margin: 0 0 20px;
}

.settings__button:active {
  transform: scale(0.95);
}

.settings__button_remove {
  width: 40px;
  min-height: 36px;
  margin-left: 14px;
  padding: 0;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: var(--dark-grey);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
